*.iml
.gradle
/local.properties

/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Ignore backend dependencies
nodeBackEnd/node_modules/

*.log
local.properties
